<div ng-swipe-right="menu()">
<button ng-click="menu()" class="pure-button button-back">&#x21e6;</button>
<h1>About Actispy</h1>
<p>Actispy is a free and open source activity tracker. It tracks where you
run, cycle or hike (and how long and far you do it). </p>

<p>Actispy was created with your privacy in mind: No data leaves your device
unless you want it. Plus: All data is available to you in handy to use formats
- so you can run the stats you want from your activities.</p>

<p>Actispy welcomes your changes <a href="https://github.com/mihi-tr/actispy"
target="_new">Fork it on Github!</a></p>
</div>
