<div ng-swipe-right="menu()">
<button ng-click="menu()" class="pure-button button-back">&#x21e6;</button>
<div class="message" ng-class="{hidden: loaded == true}">
 {{message}}
</div>
<div class="display pure-g" ng-class="{hidden: loaded == false}" >
<div class="pure-u-1-1">
<i class="icon {{activity.type}}"></i>
    <strong>{{start}}</strong>
</div>
    <div id="time" class="pure-u-1-2">
        <h2>duration</h2>
        {{ duration }}
    </div>
    <div id="distance" class="pure-u-1-2">
        <h2>Distance (km)</h2>
        {{ activity.distance  | number: 3 }} 
    </div>
    <div id="pace" class="pure-u-1-2">
    <h2>Avg. Pace (min/km)</h2>
    {{activity.averagepace | number: 2
     }}
    </div>
</div>
<div id="map">
</div>
</div>
