<h1><img src="/images/icon-128.png" />Actispy</h1>
<ul class="menu pure-g">
<li><a class="pure-button pure-button-success pure-u-1" 
    data-l10n="new-activity" href="#/new">New Activity</a></li>
<li><a class="pure-button pure-button-primary pure-u-1" 
    data-l10n="activities" href="#/activities">Activities</a></li>
<li><a class="pure-button pure-u-1" 
    data-l10n="settings" href="#/settings">Settings</a></li>
<li><a class="pure-button pure-u-1" 
    data-l10n="about" href="#/about">About</a></li>
</ul>
